.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

hr {
  width:100%;
  height:1px;
  background: rgb(92, 92, 92);
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
}

.container{
  margin-top: 2em;
  margin-bottom: 2.5em;
}

#label-companies {
  margin-bottom: 1.5em;
  margin-left: 0.5em;
}

#label-offices {
  margin-bottom: 1.5em;
  margin-left: 0.5em;
}

#label-wrap {
  width: 100%;
}

#no-content {
  width: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-align: center;
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
